body{
    background-color: #bdd8ff;
    color: whitesmoke;
}

.jumbotron{
    background-image: url('../images/stevensBanner.jpg');
    color: white;
    background-size: cover;
    border-radius: 0%; !important;
}

.card{
    background-color: #232323;
    width: 75%;
}

.reviewGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /*three column layout, middle column bigger than others*/
}

.reviewSection {
    background-color: #9a86b0;
    border: 2px solid darkgreen;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
}

.nav-link{
    color: white; !important;
}

.center {
    text-align: center;
    margin: auto;
    width: 100%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    margin:auto;
    color: #f89c2f;
}

h1{
    font-family: Monaco, Helvetica, sans-serif;
}

label{
    color: #232323;
}

